@model WebShoppingMall.Models.ProductList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">
    <h4>ProductList</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="~/@Model.Image" height="250" style="border-radius: 5px;border: 1px solid #efefef" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTypes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTypes.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTag.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
        <i class="far fa-edit"></i>
    </a>
    <a asp-action="Index" class="btn btn-success">
        <i class="fas fa-undo-alt"></i>
    </a>
</div>

